.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  width: 500px;
  height: 500px;
  border: 2px solid #333;
  background-color: #f0f0f0;
}

.cell {
  border: 1px solid #ccc;
}
