# Avalanche Wallet Configuration
# Copy this file to .env.local and fill in the values

# Deployed smart-contract address (PositionTracker on Avalanche Fuji)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xDcD46bbb1F1eE3e024F727A11189FDc1DbC80908

# Contract ABI as a JSON string
NEXT_PUBLIC_CONTRACT_ABI=[{"inputs":[{"internalType":"address","name":"_player","type":"address"}],"name":"getPosition","outputs":[{"components":[{"internalType":"uint8","name":"x","type":"uint8"},{"internalType":"uint8","name":"y","type":"uint8"}],"internalType":"struct PositionTracker.Position","name":"","type":"tuple"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"uint8","name":"_x","type":"uint8"},{"internalType":"uint8","name":"_y","type":"uint8"}],"name":"initializePosition","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"enum PositionTracker.Direction","name":"_direction","type":"uint8"}],"name":"move","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"","type":"address"}],"name":"playerPositions","outputs":[{"internalType":"uint8","name":"x","type":"uint8"},{"internalType":"uint8","name":"y","type":"uint8"}],"stateMutability":"view","type":"function"}]
